@font-face {
  font-family: helvetica-neue-heading;
  src: url('../../fonts/HelveticaNeueLTStd-Bd.otf')
}

@font-face {
  font-family: helvetica-neue-body;
  src: url('../../fonts/HelveticaNeueLTStd-Lt.otf')
}

.buttonContainer {
  display: flex;
  margin: 15px 10px;
}

.button-off {
  margin: 0 7px;
}

.button-on {
  margin: 0 7px;
}

.typeSelect {
  display: flex;
  margin: 15px 10px;
}

.typeSelect div {
  margin: 0px 7px;
}

.singleSelect {
  background-color: white;
  padding: 5px 10px 30px 10px;
  width: 520px;
  margin: 10px auto;
  border: 1px black solid;
}

.singleSelect h1, h2 {
  padding-bottom: 2px;
  width: 500px;
}

.singleSelect h1 {
  font-size: 2em;
  color: #1DA1F2;
  margin: 20px 15px;
  font-family: helvetica-neue-heading;
  text-align: center;
}

.singleSelect h2 {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 30px;
  color: dark-gray;
  font-family: helvetica-neue-heading;
}

#multi-select {
  margin-bottom: 0px;
}

.singleSelect input {
  display: none;
}

.singleSelect label {
  background: #ccc;
  border: 1px solid #888;
  color: #666;
  padding: 5px 10px;
  font-family: helvetica-neue-body;
  color: black;
  border-radius: 10px;
}

.singleSelect label:hover {
  background-color: #ddd
}

.singleSelect label:active,
.singleSelect label:focus {
  background: #1DA1F2;
}

.singleSelect input:checked + label {
  background: #1DA1F2;
  color: white;
}

.submit-button-container {
  margion: 0 auto;
}

.submit-button {
  background-color: #1DA1F2;
  padding: 10px 7px;
  margin: 30px auto 0 auto;
  font-family: helvetica-neue-heading;
  font-weight: bold;
  color: white;
  border: 1pt black solid;
  border-radius: 10px;
  width: 90px;
  text-align: center;
  user-select: none;
}

.submit-button:hover {
  background: #4db3f2;
}

.submit-button:active {
  background: #87d1ff;
}
