@font-face {
  font-family: helvetica-neue-heading;
  src: url('../../fonts/HelveticaNeueLTStd-Bd.otf')
}

@font-face {
  font-family: helvetica-neue-body;
  src: url('../../fonts/HelveticaNeueLTStd-Lt.otf')
}



.typeSelect {
  display: flex;
  margin: 1rem .6rem;
}

.typeSelect div {
  margin: 0 .5rem;
  user-select: none;
}

.formContainer {
  background-color: white;
  padding: 5px 10px 30px 10px;
  min-width: 350px;
  width: 85%;
  margin: 10px auto;
  border: 2px #888 solid;
}

.formContainer h1, h2 {
  padding: .5rem 0;
}

.formContainer h1 {
  font-size: 2rem;
  color: #1DA1F2;
  margin: 1rem auto;
  font-family: helvetica-neue-heading;
  text-align: center;
}

.formContainer h2 {
  border-bottom: 2px solid #ddd;
  margin: 1.5rem 1.125rem;
  color: dark-gray;
  font-family: helvetica-neue-heading;
}

/* Submit Button Options */

.submit-button-container {
  margion: 0 auto;
}

.submit-button {
  background-color: #1DA1F2;
  padding: 10px 7px;
  margin: 30px auto 0 auto;
  font-family: helvetica-neue-heading;
  font-weight: bold;
  color: white;
  border: 1.5pt #888 solid;
  border-radius: 10px;
  width: 90px;
  text-align: center;
  user-select: none;
}

.submit-button:hover {
  background: #4db3f2;
}

.submit-button:active {
  background: #87d1ff;
}


/* Multi-Select button options*/

#multi-select {
  margin-bottom: 0;
}

.multiSelectContainer {
  display: flex;
  margin: 1rem .6rem;
}

.button-off {
  margin: 0 7px;
}

.button-on {
  margin: 0 7px;
}


/* Form container button elements */
.formContainer input {
  display: none;
}

.formContainer label {
  background: #ddd;
  border: 1.5px solid #888;
  padding: 5px 10px;
  font-family: helvetica-neue-body;
  color: #545454;
  border-radius: 10px;
}

.formContainer label:hover {
  background-color: #ccc
}

.formContainer label:active,
.formContainer label:focus {
  background: #1DA1F2;
}

.formContainer input:checked + label {
  background: #1DA1F2;
  color: white;
}
