@font-face {
  font-family: helvetica-neue-heading;
  src: url('../../fonts/HelveticaNeueLTStd-Bd.otf')
}

@font-face {
  font-family: helvetica-neue-body;
  src: url('../../fonts/HelveticaNeueLTStd-Lt.otf')
}

body {
  height: 100%;
  background-color: #ddd;
  background-image: url('./twitterbird.png');
  background-repeat: no-repeat;
  background-position: 50% 180%;
  background-size: 20rem 20rem;
}

.FormArea {
  max-width: 600px;
  margin: 0 auto;
}

.tweetDisplayContainer {
  font-family: helvetica-neue-body;
  line-height: 1.4rem;
  background-color: white;
  padding: 1rem 10px;
  min-width: 350px;
  width: 85%;
  margin: 10px auto;
  border: 2px #888 solid;
}

.tweetDisplayContainer p {
  padding: 0 1rem;
}

.Banner h1 {
  background-color: #1DA1F2;
  min-width: 350px;
  text-align: center;
  padding: 2rem;
  font-family: helvetica-neue-heading;
  font-weight: bold;
  color: white;
  font-size: 3rem;
}
